.toolbar-text {
    margin-left: 5px;
    margin-right: 5px;
}

.pane-placeholder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15pt;
    color: lightgray;
}

.positive {
    color: green;
}

.active .positive {
    color: lightgreen;
}

.negative {
    color: darkred;
}

.active .negative {
    color: red;
}

.form-group label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.form-group select {
    width: 40%;
}

.pane-group div{
    overflow: scroll;
}